%h1 Welcome to the Desert of the Real
#container
%script{ type: 'text/template', id: 'user-template'}
  %h2.login {{login}} ({{name}})
%script{ type: 'text/template', id: 'list-template'}
  %h2 Github Users
  %ul.users
