%h1 Welcome to the Desert of the Real
#container
%form#new-user
  %label{ for: 'user-login'} Github login
  %input{ name: 'user-login', id: 'user-login'}
  %input{ type: 'submit', value: 'Add'}
%script{ type: 'text/template', id: 'user-template'}
  :plain
    <img src ="{{avatar_url}}" />
  %h2.login {{login}} ({{name}})
  %ul
    %li Public Repositories: {{public_repos}}
    %li Followers: {{followers}}
    %li Following: {{following}}
%script{ type: 'text/template', id: 'list-template'}
  %h2 Github Users
  %ul.users
