.users_container
%script{ type: 'text/template', id: 'user-template'}
  :plain
    <img src ="{{avatar_url}}" />
  .user-data
    %h2.login {{login}}
    %ul.unstyled
      %li Name: {{name}}
      %li Public Repositories: {{public_repos}}
      %li Followers: {{followers}}
      %li Following: {{following}}
%script{ type: 'text/template', id: 'list-template'}
  %ul.users.unstyled
