!!!
%head
  %title UserHub
  %script{:src => 'js/underscore-min.js'}
  %script{:src => 'js/zepto.min.js'}
  %script{:src => 'js/backbone-min.js'}
  %script{:src => 'js/users.js'}
  %link{ href: 'css/bootstrap.min.css', rel: 'stylesheet'}
  %link{ href: 'css/users.css', rel: 'stylesheet'}
%body
  .navbar.navbar
    .navbar-inner
      %a{ href: 'http://userhub.heroku.com', class: 'brand'} Userhub
      %form#new-user.navbar-form.pull-left
        %input{ name: 'user-login', id: 'user-login', placeholder: 'Add github user, ex: tpope', class: 'span4'}
  .container-fluid
    .row-fluid
      = yield
