!!!
%head
  %title UserHub
  %script{:src => 'js/underscore-min.js'}
  %script{:src => 'js/zepto.min.js'}
  %script{:src => 'js/backbone-min.js'}
  %script{:src => 'js/users.js'}
%body
  %h1 UserHub
  = yield
