li.user{
  width: 300px;
  float: left;
}

li.user h2{
  line-height: 24px;
  margin-bottom: 5px;
}

li.user img{
  float: left;
  margin-right: 10px;
  padding: 4px;
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 0 #999;
  border-radius: 5px;
}

li.user .user-data{
  float: left;
}
